.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    margin-bottom: 35vh;
}

.carousel-caption h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption a {
    border-width: 2px;
}

@media(max-width:768px) {
    .ul-bg {
        background-color: black;
    }
}