/* YAP SHI QI */

@font-face {
    font-family:poppins-bold;
    src: url(../../Poppins/Poppins-Bold.ttf) format('truetype');
}


@font-face{
    font-family:poppins-medium;
    src:url(../../Poppins/Poppins-Medium.ttf) format('truetype');
}

/* HTML SCROLL BAR */
html::-webkit-scrollbar{
    width:8px;
}

html::-webkit-scrollbar-thumb{
    border-radius:10px;
    background:white;
}

html{
    width: 1024px;
    height: 768px;
    margin:auto;
    border: 0px;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: poppins-medium; 
}

body{
    clear:left;
    margin:0;
    background-color: #161626;
    scroll-behavior:smooth;
}
/* Type of meal */
body h2{
    font-family: poppins-bold;
    color: #fff;
    text-align: center;  
    font-size: 50px;
    letter-spacing: 8px;
    width: 100%;
    text-decoration:underline;
    margin-top: 50px;
    margin-bottom: 40px;
}
/* Food Title design */
body .info-header{
    color: #fff;
    margin-top: 0px;
    text-align: center;
}
/* Meal Images */
body img{
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

/* Design for meal info */
body .info-in{
    color: #fff;
    padding:0px 30px;
    font-size: small;
}
/* Price Design */
body .price{
    color: #fff;
    padding-bottom: 30px;
}

/* Design for open cart button */
.opencartbtn{
    border-radius:50%;
    font-size: 250%; 
    position:absolute; 
    left:28%; 
    top:10%;
}

/* Order button */
.order .choose,
.paymentbutton{
    appearance: none;
    background-color: black;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 15px;

}
.order .choose:hover,
.paymentbutton:hover{
    background: -webkit-linear-gradient(left, #C56CD6, #3425AF);
    color: #fff;
    transition:0.5s;
}

/* Design for Food Page */
.flex-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

/* Design for Food Box */
.flex-container .food{
    position: relative;
    width: 500px;
    height: 700px;
    background-color: rgba(255,255,255,0.1);
    margin: 30px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}

/* Design for food box text */
.flex-container .food .text{
    padding: 20px;
    text-align: center;
}
/* Navigation bar */
.nav{
    text-align: center;
    border:2px solid #161623;
    border-radius:50px;
    background-color: #161623;
    width: 60%;
    margin: auto;
    
}

.nav a{
    text-decoration: none;
    color:white;
    font-size: medium;
}

.nav button{
    height: 50px;
    border:none;
    outline:none;
    background-color: transparent;
    margin-right:5%;
    margin-top: 10%;

}

.nav button:hover{
    border-radius:50px;
    background:-webkit-linear-gradient(left,#9055FF, #13E2DA);
}

.paymentbutton{
    width:180px;
    margin: 4% auto;
}
/* Order Detail */
/* Box */
section .cart{
    color:#fff;
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#000;
    overflow-x:hidden;
    transition:0.5s;
    left:17%;
}
/* Scroll bar */
section .cart::-webkit-scrollbar{
    display:none;
}
/* Price */
input[type="radio"]{
    display:none;
}

/* Place Order */
.paymentbutton a{
    text-decoration:none;
    color:#fff;
    text-align: center;
    
}
/* Close Btn */
#closebtn{
    position: flex;
    border:none;
    outline:none;
    width: 30px;
    height: 30px;
    margin-left: 80%;
    background:transparent;
    color:white;
    font-size:25px;
}


