@font-face{
    font-family:poppins-medium;
    src:url(../Poppins/Poppins-Medium.ttf)format('truetype');
}

header{
    display: flex; 
    float: left;  
    justify-content: center;
    align-items: center;
    background-color:rgba(38, 38, 38, 0.5); 
    position:static;
    width: 100%;
    letter-spacing:2px;
}

header nav a{
    color: #fff;
    text-decoration: none;    
}

header ul img{
    float:left;
    width: 100px;
    height: 100px;
    margin-top: 0px;

}

header nav ul li{
    list-style: none;
    text-align: center;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 15px;
    display: flex;
    float:left;
}

header nav ul li a{
    text-decoration: none;
    color:#fff;
    font-family:poppins-medium;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    /* padding-bottom: 10%; */
}


header ul li div.login,ul li div.customer_review{
    color: #fff;
    cursor: pointer;

}

header nav a:hover{
    color:#d3ad7f;
    border-bottom: solid #d3ad7f; 
    padding-bottom: .5rem;
}

.login:hover,.customer_review:hover{
    border-bottom: solid #d3ad7f;   
}
