@font-face {
    font-family: poppins-medium;
    src: url(../Poppins/Poppins-Medium.ttf) format('truetype');
}

html{
    width:1024px;
    height:768px;
    margin:auto;
    padding: 0;
    border:0px;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

*{
    font-family: poppins-medium;
}
/* background */
body {
    background: #161626 no-repeat center center/cover;
    margin:auto;
}
  /*welcome message*/
.home { 
    padding-top: 0px;
    color: black;
    font-size: 40px;
    position: absolute;
    top:15%;
}
/* css for welcome message */
.home h1{
    animation-name: slide;
    animation-duration: 3s;
    overflow: hidden;
    color: white;
    font-size: 100%;
    text-shadow:5px 5px 3px rgba(253, 252, 252, 0.7) ;
  }

  @keyframes slide {
    0% {
      transform: translateX(-1000px);
      opacity: 0%;
    }
    100% {
      transform: translateX(-2px);
      opacity: 1;
    }
  }
/* special dishes order now button */
  .btn{
	text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #161626;
    background:#9055FF;
    border-radius: .9rem;
    cursor: pointer;
    padding:1% 1%;
}

.btn:hover{
    background:-webkit-linear-gradient(left,#9055FF, #13E2DA);
    letter-spacing: .2rem;
	transition: 0.2s linear;
}

/* special dishes description */
section{
    font-size: 50%;
    padding: 2% 9%;
}
section:nth-child(even){
    background: #161626;
}

.Home .home-slider .slide1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
    clear:left;
}
.Home .home-slider .slide1 .content{
    flex: 1 1 45rem;
}
.Home .home-slider .slide1 .content span{
    color: #fff;
    font-size: 2.5rem;
}
.Home .home-slider .slide1 .content h3{
    color: #fff;
    font-size: 4.5rem;
}
.Home .home-slider .slide1 .content p{
    color: grey;
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}
/* special dishes image */
.image1 img{
    animation:float 2s linear infinite;
    border-radius: 30px;
    width: 80%;
    height: 80%;
}

@keyframes float{
   50%{
        transform:translateX(6rem);
    }
     0%,100%{
        transform:translateY(6rem);
    }
}
/* welcome message logo animation */
.image img{
    animation:floats 2s linear infinite;
}

@keyframes floats{
    50%{
        transform:translateX(6rem);
    }
    0%,100%{
        transform:translateY(6rem);
    }
}
/* welcome message background video */
.slider{
	width: 100%;
	height: 600px;
	border-radius: 10px;
	overflow: hidden;
}

.slides{
	width:500%;
	height:600px;
	display:flex;
}
.slides video{
    width: 100%;
}
.slides input{
	display:none;
}
.slide{
	width: 20%;
	transition: 2s;
}
.slide video{
	width: 100%;
	height: 110%;
}
.navigation-manual{
	position: absolute;
    left:45%;
	width: 1500px;
	margin-top:-40px;
	display: flex;
}
.navigation-auto{
	position:absolute;
    left:45%;
	display: flex;
	width: auto;
	margin-top: 560px;
}
.manual-btn{
	border:2px solid #fff;
	padding:5px;
	border-radius:50px;
	cursor: pointer;
	transition: 1s;
    width: 30px;
    height: 0.5%;
}
.manual-btn:not(:last-child){
	margin-right:40px;
}
.manual-btn:hover{
	background:#fff ;
}
#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio4:checked ~ .first{
	margin-left: -60%;
}

.navigation-auto div{
border:2px solid #fff;
padding:5px;
border-radius: 50px;
transition:1s;
width: 30px;
height: 0.5%;
}
.navigation-auto div:not(:last-child){
margin-right: 40px;
}
#radio1:checked ~.navigation-auto .auto-btn1{
	background-color: #fff;
}
#radio2:checked ~.navigation-auto .auto-btn2{
	background-color: #fff;
}
#radio3:checked ~.navigation-auto .auto-btn3{
	background-color: #fff;
}
#radio4:checked ~.navigation-auto .auto-btn4{
	background-color: #fff;
}
/* welcome message logo */
.home>img{
    margin-left: 40%;
    animation: slide;
    animation-duration: 3s;
}
