@font-face {
    font-family:poppins-blackitalic;
    src:url(../Poppins/Poppins-BlackItalic.ttf) format('truetype');
}
@font-face{
    font-family:poppins-medium;
    src:url(../Poppins/Poppins-Medium.ttf) format('truetype');
}
@font-face {
    font-family: poppins-semibold;
    src: url(../Poppins/Poppins-SemiBold.ttf) format('truetype');
}

html{
    width: 1024px;
    height: 768px;
    margin:auto;
    border:0px;
}

/* all css */
*{
    margin:0;
    padding:0;
    font-family:poppins-medium;
    box-sizing:border-box;
  
}

body{
    background-color: #161626;
}

/* design for all the content of the customer reviews */
.customer-reviews{
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width:100%;
    margin-bottom: -10%;

}

/* design for the customer reviews heading */
.customer-reviews-heading{
    letter-spacing:1px;
    margin:30px 0px;
    padding:10px 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.customer-reviews-heading h1{
    font-size:2.2rem;
    font-weight: 500;
    background-color:white;
    color:#161626;
    padding:10px 20px;
    font-family: poppins-blackitalic;
}

.customer-reviews-heading span{
    font-size: 1.3rem;
    color:#D0CDD7;
    margin-bottom:10px;
    letter-spacing:2px;
    text-transform:uppercase;
    font-family: poppins-semibold;
}

/* design for all the customers reviews box container */
.customer-reviews-box-container{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
    background-color: #161626;
    background-size: cover;
    background-repeat: no-repeat;
}

/* design for each customers reviews */
.customer-reviews-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(34, 31, 31, 0.5);
    background-color: white;
    padding: 20px;
    margin:15px;
    cursor: pointer;
}

/* design for the customer review profile */
.profile-img{
    width:50px;
    height:50px;
    border-radius: 50%;
    overflow:hidden;
    margin-right: 10px;
}

.profile-img img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}

.name-user{
    display:flex;
    flex-direction:column;
    align-items:column;
    
}

.name-user strong{
    color:#3d3d3d;
    font-size: 1.1rem;
    letter-spacing:0.5px;
}

.name-user span{
    color:#979797;
    font-size:0.8rem;
}

/* design for all customers reviews star rating */
.star-rating{
    color:yellow;
    left:270px;
    bottom: 70px;
}

.rate-1,
.rate-2,
.rate-3,
.rate-4,
.rate-5{
    display:inline;
    font-size: 35px;
    margin-bottom: 0px;
}

.box-top{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* design for customers comments */
.customer-comment p{
    font-size:0.9rem;
    color:#4b4b4b;
    margin-top:0px;
    
}

.customer-reviews-box:hover{
    transform:translateY(-10px);
    transition: all ease 0.3s;
}

