@font-face{
    font-family:poppins-medium;
    src:url(../Poppins/Poppins-Medium.ttf) format('truetype');
}
@font-face {
    font-family:poppins-bold;
    src: url(../Poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family:poppins-black;
    src: url(../Poppins/Poppins-Black.ttf) format('truetype');
}

@font-face {
    font-family:poppins-extrabold;
    src:url(../Poppins/Poppins-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family:poppins-regular;
    src: url(../Poppins/Poppins-Regular.ttf) format('truetype');
}

html{
    width: 1024px;
    height: 768px;
    margin:auto;
    border:0px; 
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:poppins-medium;
}

body{
    margin:0;
    padding:0;
    clear: left;
    background-color: #161626;
}

/* design for first box contaiber */
.container-1{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding:40px 47px;
    border-radius: 20px;
    height:600px;
    width:800px;
    background-color:white;
}

.container-1 img{
    height:100%;
    width: auto;
    border-radius:20px;
}

.about-details{
    margin:0 45px;
}

.about-details span{
    color:#666A86;
    font-weight: 1000;
    font-family: poppins-regular;

}

h2{
    color:#02394A;
    font-family: poppins-extrabold;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.about-details p{
    color:gray;
    font-size: 15px;
}

/* design for second box container */
.container-2{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
    padding:40px 47px;
    border-radius: 20px;
    height:600px;
    width:800px;
    background-color:white ;
}

.container-2 img{
    height:100%;
    width: auto;
    border-radius:20px;
}

.about-menu{
    margin:0 45px;
}

.about-menu p{
    color:gray;
    font-size: 15px;
}

/* design for third box container */
.container-3{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:5% auto;
    border-radius: 20px;
    height:600px;
    width:800px;
    background-color:white ;
}

.container-3 .map iframe{
    padding-left: 10%;
}

.about-contact{
    font-family:'Kanit',sans-serif;
    font-size:15px;
    margin:10px;
    width:200%;

}

.whatsapp{
    display: flex;
    float:left;
}

.facebook{
    display: flex;
    float:left;
}

.instagram{
    display: flex;
    float:left;
}

.gmail{
    display: flex;
    float:left;
}

.container-3 a{
    color:black;
    text-decoration: dashed;
}

.container-3 a:hover{
    text-decoration:underline;
}
